/*  your css code here. If applicable */
.container{
	display: grid;
	grid-template-columns: repeat(20,1fr);
	grid-template-rows: repeat(20,1fr);
	gap: 5px;
}
.square{
	width: 40px;
	height: 40px;
	background-color: black;
	transition: backgroung-color 0.3s;
}
.square:hover{
	background-color: red;
}